#addNewItem {
	display: flex;
	justify-content: center;
}

#addNewItem > button {
	margin: 1rem;
	height: 3rem;
	width: 7rem;
}

form {
	padding: 1rem;
}

form > * {
    margin: .2rem;
}

input[type='text'],
input[type='date'],
textarea {
	width: 100%;
	padding: 10px 12px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	background-color: rgb(255, 253, 252);
}

input[type='date'],
textarea {
	width: 50%;
	display: block;
	background-color: rgb(255, 253, 252);
}

dialog > form > div {
	display: flex;
}

dialog > form > div > * {
	flex: 1;
	margin: .5rem .5rem 0;
	border-radius: 4px;
    border: 0;
}

dialog > form > div > button {
	background-color: rgba(203, 87, 80, 0.8);   
    color: rgb(255, 253, 252);
}

dialog > form >  div > input {
	background-color: rgb(52, 59, 76, 0.8);   
    color: rgb(255, 253, 252);
}

::backdrop {
	opacity: 0.75;
	background-color: rgb(52, 59, 76);
}

dialog {
	background-color: rgba(252, 196, 100, 1);
	position: fixed;
	left: 50%;
	top: 50%;
	height: 50%;
	transform: translate(-50%, -50%);
}
