#toDoList {
	display: flex;
	flex-wrap: wrap;
	margin: 1rem;
}

.listItem {
	background-color: rgb(255, 253, 252);
	border-radius: 10px;
	width: 30%;
	padding: 2rem;
	margin: 1rem;
}

li {
	list-style: none;
}

#priorityItem {
	border-left: solid 10px rgb(255, 0, 0);
}
  

